// Fonts:
@font-face {
  font-display: block;
  font-family: "DV Source Sans 3";
  font-style: italic;
  font-weight: 200 900;
  src: url(https://dynamic.faz.net/fonts/source-sans-3-v15_latin-ext_italic_200-900.woff2)
    format("woff2");
  unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff,
    u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff;
}

@font-face {
  font-display: block;
  font-family: "DV Source Sans 3";
  font-style: italic;
  font-weight: 200 900;
  src: url(https://dynamic.faz.net/fonts/source-sans-3-v15_latin_italic_200-900.woff2)
    format("woff2");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191,
    u+2193, u+2212, u+2215, u+feff, u+fffd;
}

@font-face {
  font-display: block;
  font-family: "DV Source Sans 3";
  font-style: normal;
  font-weight: 200 900;
  src: url(https://dynamic.faz.net/fonts/source-sans-3-v15_latin-ext_normal_200-900.woff2)
    format("woff2");
  unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff,
    u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff;
}

@font-face {
  font-display: block;
  font-family: "DV Source Sans 3";
  font-style: normal;
  font-weight: 200 900;
  src: url(https://dynamic.faz.net/fonts/source-sans-3-v15_latin_normal_200-900.woff2)
    format("woff2");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191,
    u+2193, u+2212, u+2215, u+feff, u+fffd;
}

@font-face {
  font-display: block;
  font-family: "DV Source Serif 4";
  font-style: italic;
  font-weight: 200 900;
  src: url(https://dynamic.faz.net/fonts/source-serif-4-v8_latin-ext_italic_opsz_200-900.woff2)
    format("woff2");
  unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff,
    u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff;
}

@font-face {
  font-display: block;
  font-family: "DV Source Serif 4";
  font-style: italic;
  font-weight: 200 900;
  src: url(https://dynamic.faz.net/fonts/source-serif-4-v8_latin_italic_opsz_200-900.woff2)
    format("woff2");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191,
    u+2193, u+2212, u+2215, u+feff, u+fffd;
}

@font-face {
  font-display: block;
  font-family: "DV Source Serif 4";
  font-style: normal;
  font-weight: 200 900;
  src: url(https://dynamic.faz.net/fonts/source-serif-4-v8_latin-ext_normal_opsz_200-900.woff2)
    format("woff2-variations");
  unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff,
    u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff;
}

@font-face {
  font-display: block;
  font-family: "DV Source Serif 4";
  font-style: normal;
  font-weight: 200 900;
  src: url(https://dynamic.faz.net/fonts/source-serif-4-v8_latin_normal_opsz_200-900.woff2)
    format("woff2-variations");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191,
    u+2193, u+2212, u+2215, u+feff, u+fffd;
}

//Breakpoints
$tabletbreak: 768px;
$mobilebreak: 620px;

//Grafikfarben lightmode
$blue-l: #2962a3;
$light-blue-l: #93bcec;
$red-l: #a82424;
$light-red-l: #ef8f8f;
$green-l: #548a42;
$light-green-l: #b1dca3;
$orange-l: #c56207;
$light-orange-l: #f2b28c;
$violet-l: #8976c3;
$mid-violet-l: #d6cde5;
$light-violet-l: #f1eef6;
$yellow-l: #c28e0a;
$light-yellow-l: #f2d58c;

//lightmode
$black-l: #212529;
$grey-100-l: #393939;
$grey-200-l: #555555;
$grey-300-l: #717171;
$grey-400-l: #8e8e8e;
$grey-500-l: #aaaaaa;
$grey-600-l: #c6c6c6;
$grey-700-l: #e3e3e3;
$grey-900-l: #f7f7f7;
$white-l: #ffffff;
$white-opaque-l: rgba(255, 255, 255, 0.9);

//Brand-Farben lightmode
$faz-blue-l: #110a35;
$faz-grey-l: #e8edee;

//Grafikfarben darkmode
$blue-d: #2962a3;
$light-blue-d: #93bcec;
$red-d: #a82424;
$light-red-d: #ef8f8f;
$green-d: #548a42;
$light-green-d: #b1dca3;
$orange-d: #f89a44;
$light-orange-d: #f2b28c;
$violet-d: #8976c3;
$mid-violet-d: #5b4686;
$light-violet-d: #392c54;
$yellow-d: #c28e0a;
$light-yellow-d: #f2d58c;

//darkmode
$black-d: #ffffff;
$grey-100-d: #f7f7f7;
$grey-200-d: #e3e3e3;
$grey-300-d: #c6c6c6;
$grey-400-d: #aaaaaa;
$grey-500-d: #8e8e8e;
$grey-600-d: #717171;
$grey-700-d: #555555;
$grey-900-d: #393939;
$white-d: #212529;
$white-opaque-d: rgba(33, 37, 41, 0.9);

//Brand-Farben darkmode
$faz-blue-d: #e8edee;
$faz-grey-d: #323d46;

//dark- & lightmode
$faz-grey-permanent: #e8edee;
$hover-black-permanent: #909294;

@media (prefers-color-scheme: light) {
  :root {
    --mm-black: #{$black-l};
    --mm-black-hover: #{$hover-black-permanent};
    --mm-grey-200: #{$grey-200-l};
    --mm-grey-300: #{$grey-300-l};
    --mm-grey-400: #{$grey-400-l};
    --mm-grey-500: #{$grey-500-l};
    --mm-grey-600: #{$grey-600-l};
    --mm-grey-700: #{$grey-700-l};
    --mm-faz-blue: #{$faz-blue-l};
    --mm-faz-grey: #{$faz-grey-permanent};
    --mm-white: #{$white-l};
    --mm-white-opaque: #{$white-opaque-l};
    --mm-light-violet: #{$light-violet-l};
    --mm-violet: #{$violet-l};
    --mm-mid-violet: #{$mid-violet-l};
    --mm-green: #{$green-l};
    --mm-orange: #{$orange-l};
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --mm-black: #{$black-d};
    --mm-black-hover: #{$hover-black-permanent};
    --mm-grey-200: #{$grey-200-d};
    --mm-grey-300: #{$grey-300-d};
    --mm-grey-400: #{$grey-400-d};
    --mm-grey-500: #{$grey-500-d};
    --mm-grey-600: #{$grey-600-d};
    --mm-grey-700: #{$grey-700-d};
    --mm-faz-blue: #{$faz-blue-d};
    --mm-faz-grey: #{$faz-grey-d};
    --mm-white: #{$white-d};
    --mm-white-opaque: #{$white-opaque-d};
    --mm-light-violet: #{$light-violet-d};
    --mm-violet: #{$violet-d};
    --mm-mid-violet: #{$mid-violet-d};
    --mm-green: #{green-d};
    --mm-orange: #{$orange-d};
  }
}
